body {
	background: linear-gradient(-45deg, #c56c50, #ad74ab, #7bbfdb, #cf86e1);
	background-size: 400% 400%;
	animation: uwu 12s ease infinite;
}

@keyframes uwu {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

ul {
	margin-left: 0 !important;
}

li {
	list-style: inside;
}

.card {
	height: 100%;
	border-radius: 1rem;
}

.avatar {
	filter: drop-shadow(0 0 0.75rem #f4bdff);
}

.pride {
	object-fit: cover;
	height: 1.5rem;
	width: 2.2rem;
	display: inline;
	border-radius: 0.3rem;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.arch {
	font-size: .75rem;
}

.social {
	margin-top: 1.5rem;
}
.social > a {
	margin-bottom: .5rem;
}

a, a:visited {
	color: #4a4a4a;
	text-decoration: none;
}
a:hover, a:active {
	color: #4a4a4a;
	text-decoration: underline;
}

.f a:link, .f a:visited {
	color: white;
	text-decoration: underline;
}
.f a:hover, .f a:active {
	color: white;
	text-decoration: none;
}

.button {
	transition: background-color .2s ease-in;
}

.forgejo:hover {
	background-color: #ce551c !important;
}

.mastodon:hover {
	background-color: #362070 !important;
}